@model QuestRooms6.Model.ViewModels.LoginRegistrViewModel
<div id="logreg-forms">
    <h1 class="h3 mb-3 font-weight-normal text-info pt-4" style="text-align:center;">Sing in</h1>
    <form asp-controller="Account" method="post" asp-route-returnUrl="@Model.ReturnUrl">
        <div class="h3 mb-3">
            <input asp-for="Email" placeholder="Почта..." type="email" class="mb-1 form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <input asp-for="Password" placeholder="Пароль..." type="password" id="input01" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>

            <input asp-for="ConfirmPassword" placeholder="ConfirmPassword..." type="password" id="input02" class="form-control" hidden />
        </div>
        <button type="submit" class="btn btn-success form-control rounded btn_save"><i class="fas fa-sign-out "></i>Войти</button>
        <div>
            <label asp-for="RememberMe"></label><br />
            <input asp-for="RememberMe" />
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $('.btn_save').click(function() {
            var input01 = $("#input01").val();
            $("#input02").val(input01);
        });
    </script>
}